<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SceneKit-17阴影使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>838039831F271513000F0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8380399C1F271513000F0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838039A71F271513000F0340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
